/*....... fonts .......*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


/* common */

body{
    margin: 0;
    padding: 0;
}
/* top banner style start*/
.banner-section{
    width:1349px;
    height: 570px;
    background: rgba(45, 37, 160, 1);
}
.top-banner{
    display: flex;
}
.banner-detail{
    width: 485px;
    height: 257px;
    margin: 121px 102px 240px 159px;
}
.banner-title{
    font-size: 59px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 27px 0;
}
.button{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family:'Poppins' ;
    font-weight: 500;
    background: #E02C6D;
    padding: 10px 10px 10px 24px;
}
.fa-arrow-right{
    height: 24px;
    width: 24px;
    margin: 10px 0 0 8px;
}
.banner-image{
    height: 445px;
    width: 560.01px;
    margin-right: 138px;
    margin-top: 67px;
}
.banner-image img{
    width: 100%;
    transition: transform linear .5s;
}
.banner-image:hover img{
    transform: translate(10px) scale(1.1) rotate(5deg);
}
/* top banner style end*/

/* players articles styles start */
article {
    padding: 70px 210px 27px 180px;
    position: relative;
}
.boxs{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin-bottom: 27px;
    grid-gap: 30px;
    
}
.player-box{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.player-image img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
    margin: 15px 15px 16px;
}
.player-info{
    width: 300px;
    height: 154px;
    margin: 0 15px;
}
.player-name{
    width: 300px;
    height: 40px;
    margin: 0;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    color: #18191F;
}
.player-details{
    width: 300px;
    height: 104px;
    margin-top: 10px;
    line-height: 26px;
    font-family: 'Poppins';
    font-size: 17px;
    color: #6C6C6C;
}

/* players articles styles end */

/* login form start */
.login-container{
    background-color:black;
    color: white;
    height: 360px;
    width: 320px;
    position: relative;
    left: 40%;
}
form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.form-title{
    text-align: center;
    font-size: 30px;
    color: #fb2525;;
}
input{
    height: 20px;
}
.input-title{  font-size: 16px;
    margin-bottom: 5px;
    color: rgb(195, 195, 195);
}
button{
    height: 30px;
    margin-top: 15px;
    background: #fb2525;
    border: none;
    border-radius: 25px;
}
button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 500;
}
span{
    margin: 10px 3px;
}
span a{
    color: dimgray;
    text-decoration: none;
}

/* login form end */

/* <!-- users comment style start --> */
.users{
    width: 1050px;
    margin:70px 210px 80px 180px;
}
.commnet-title{
    text-align: center;
    color: dimgray;
    font-size: 50px;
    font-family: "poppins";
    font-weight: 500;
}
.user-box{
    display: flex;
    padding-bottom: 20px ;
    align-items: center;
}
.user-image{
    width: 300px;
}
.user-image img{
    width: 90%;
}
.comment-color{
    background: rgba(250, 232, 232, 0.664);
}

/* <!-- users comment style end--> */

/* footer style start */
footer{
    margin-top: -50px;
    
}
.footer-frame{
    width: 483px;
    height: 213px;
    position: relative;
    left: 35%;
}

.footer-image {
    height: 110px;
    width: 480px;

}
.footer-image img{
    width: 90%;
}
.social-icon{
    width: 170px;
    height: 32px;
    margin: 20px 160px;
    
}
.fab{
    background: rgba(150, 155, 171, 1);
    border-radius: 50%;
    font-size: 17px;
    margin: 0;
    padding: 4px;
    opacity: 0.7;
}
.coperight{
    font-family: 'Poppins';
    margin: 0 120px;
    font-size: 18px;
    line-height: 24px;
}
/* footer style end */
/*............. media queries .............. */
/* mobile devicw */
@media only screen and (max-width:688px){
    /* body{
        overflow-x: hidden;
    } */
    .users{
        display: none;
    }
    main{
        width: 10px;
    }

/*  ................. */
.banner-section{
    width: 360px;
    height: 600px;
    background: #2D25A0;
    margin-bottom: 47px;
    

}
.top-banner {
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
}
.banner-detail{
    width: 278px;
    height: 138px;
    margin: 52px 66px 30px 16px;
}
.banner-title{
    font-family: 'Poppins';
font-weight: bold;
font-size: 36px;
line-height: 50px;

}
.banner-image{
    width: 329px;
    height: 259.17px;
}
button{
    width: 138px;
    height: 44px;
    margin-bottom: 60px;
    background: #fb2525;
    border-radius: 25px;
}
.banner-image img{
    width: 100%;
    transition: transform linear .5s;
}
.banner-image:hover img{
    transform: translate(10px) scale(1.1) rotate(5deg);
}
/*  for article */
body{
    overflow-x: hidden;
}
article {
    padding: 0;
    position: relative;
}

.boxs{
    display: grid;
    grid-template-columns: repeat(1, 1px);
    margin: 0px;
    padding: 0px;
   
}
    
.player-box{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 0 15px 24px;
    padding: 0px;
}
    /* for log in form */
    .login-container{
        position: relative;
        left: 20px;
    }
    form{
        margin-bottom: 0;
    }

    button{
        padding: 0;
        margin-bottom: 10px;
    }

    
    span{
        margin: 0;
    }
    span a{
        color: dimgray;
        text-decoration: none;
    }


    /* for footer*/
    footer{
        margin-top: 10px;
        
    }
    .footer-frame{
        width: 275px;
        height: 213px;
        position: relative;
        left: 1%;
    }
    .footer-image {
        height: 50px;
        width: 300px;
    
    }
    .footer-image img{
        width: 90%;
    }
    .social-icon {
        width: 125px;
        height: 15px;
        margin: 20px 96px;
    }
    .coperight {
        margin: 20px 0px 0 61px;
        font-size: 14px;
        line-height: 24px;
    }

    

}
